body {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);

	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);

	padding-left: constant(safe-area-inset-left);
	padding-left: env(safe-area-inset-left);


	padding-right: constant(safe-area-inset-right);
	padding-right: env(safe-area-inset-right);

	margin: 0;
}

.item {
	height: 5vh;
	border: 1px solid #000;
	box-sizing: border-box;
	margin-bottom: 1px;
}
